.Home {
	background-color: #262c3a;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.home-text {
	height: 88%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3rem;
}

.home-text p {
	margin-top: -20px;
	font-family: "Barlow Semi Condensed", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 126px;
	line-height: 91.8%;
	text-transform: uppercase;
	color: #b5edfc;
	margin: 0;
}

.home-text .and {
	font-size: 100px;
	color: #fff;
	font-weight: 400;
}

@media only screen and (max-width: 769px) {
	.home-text p {
		font-size: 80px;
	}

	.home-text .and {
		font-size: 50px;
	}
}

@media only screen and (max-width: 580px) {
	.home-text {
		flex-direction: row;
		padding: 0;
	}
	.Home {
		margin-top: 2rem;
		flex-direction: column;
	}

	.home-text {
		align-items: center;
		width: 100%;
	}
	.home-img {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 480px) {
	.home-text p {
		font-size: 50px;
	}

	.home-text .and {
		font-size: 30px;
	}
}
